body{
    background-image: url(../img/south-africa.png);
}

.navbar-lg{
    background-color: rgba(255,255,255,0.1);
    width: 100%;
    max-height: 5vh;
    display: flex;
    backdrop-filter: blur(40px);
}

.nav-items{
    text-decoration: none;
}

.nav-items li{
    display: inline-block;
    font-size: 23px;
    padding: 6px 25px;
    color: #fff;
    border-bottom-right-radius: 20px;
}

.logo-lg{
    width: 125px;
    height: 5vh;
    background-color: white;
}

.nav-items li:hover{
    background-color: #F5D10D;
    transition: 0.5s ease-in-out;
    color: #000;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

/* For some extra glich height  */
@media screen and (max-height: 650px){
    .nav-items li{
        font-size: 20px;
        padding: 0 25px;
    }
    
    #icon{
        font-size: 15px;
        margin-top: -.8rem;
    }
    
    #box{
        font-size: 15px;
    }
}


/* Serach Bar */

.container-sb {
  width: 450px;
  height: 4vh;
  background-color: #1e272e;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  border-radius: 4rem;
  padding: 10px;
}

.search__box {
  float: left;
  width: 0;
  height: 2vh;
  background: none;
  color: #f7f7f7;
  font-size: 22px;
  border-radius: 2rem;
  outline: none;
  border: none;
  position: relative;
  opacity: 1;
  transition: all .75s ease-in;
  cursor: pointer;

}


.search__icon {
  box-sizing: border-box;
  float: right;
  font-size: 20px;
  display: inline-block;
  margin-left: .8rem;
  margin-top: -.8rem;
  cursor: pointer;
  position: absolute;
  color: #F6E71D;
  transition: all .25s ease-in;
  padding: .7rem;
  border-radius: 50%;
}

.container-sb:hover > .search__box {
  width: 85%;
  padding: 0 1rem;
}

.container-sb:hover > .search__icon {
  background-color: #000000;
}

.show {
  width: 85%;
  border: 1px solid red;
}

/* For iPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    .nav-items li{
        font-size: 20px;
        padding: 18px 20px;
    }
    
    .container-sb{
        width: 250px;
        left: 85%;
    }
    .search__icon{
       margin-top: -.2rem; 
    }
    .container-sb:hover > .search__box{
        width: 70%;
    }
}

/* For iPad  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .nav-items li{
        font-size: 15px;
        padding: 12px 15px;
    }
    
    .container-sb{
        width: 200px;
        left: 85%;
        height: 3.5vh;
    }
    .search__icon{
       margin-top: -.8rem; 
    }
    .container-sb:hover > .search__box{
        width: 70%;
    }
}


/* For Swiper Pagination  */
.swiper-pagination-bullet {
  background-color: #FFF;
    font-size: 10px;
    margin-right: 5px;
}

.swiper-pagination-bullet-active {
  background-color: #F6E71D;
}