@import url("./Css/library.css");
@import url("./Css/media.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
:-webkit-scrollbar{
    display: none;
}
body{
    font-family: poppins;
}
.container_project_pandemic{
    background-image: url(../img/hdbg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    color: #FBC41C;
    background-color: #1C1C1C;
    border-radius: 1rem;
    padding: 1.2rem;
    margin: 2rem 2rem 0 2rem;
    text-align: center;
    width: 35%;
}
.heading h1{
    font-size: 2rem;
}
.banner{
    width: 90%;
    padding: 1rem;
    /* border: 1px solid black; */
    margin-bottom: 5rem;
    margin-top: 0.7rem;
}
.leftarrow, .rightarrow{
    width: 5%;
    transition: all 0.3s ease;
}
.leftarrow:hover{
    width: 7%;
    cursor: pointer;
}
.rightarrow:hover{
    width: 7%;
    cursor: pointer;
}
.leftarrow img{
    width: 100%;
    opacity: .7;
}
.rightarrow img{
    width: 100%;
    opacity: .7;
}

.carddisplay{
    width: 70%;
    background-color: white;
    border-radius: 1.2rem;
    padding: 1.2rem;
    margin: 1rem;
    box-shadow: 11px 12px 65px rgba(0, 0, 0, 0.25);
}
.text{
    width: 45%;
}
.text p{
    font-size: 1.3rem;
}
.text h3{
    font-size: 2.7rem;
    font-weight: 500;
}
.illustration{
    width: 45%;
}
.illustration img{
    width: 100%;
}
.box h3{
    font-size: 2.2rem;
}
.box p{
    font-size: 1.25rem;
}
.accordian{
    width: 70%;
}
.faq-item{
    background-color: white;
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.8rem;
}
.faq-link{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    text-align: left;
    font-family: poppins;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
}
.faq-link i{
    padding: 0.2rem;
}
.faq-link .ion-md-remove-circle{
    display: none;
}
.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #FBC41C;
    transition: max-height 900ms;
}
.answer::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 100%;
    background-color: #111111;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.answer p{
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-family: poppins;
    text-align: left;
    color: rgb(22, 22, 22);
}
.faq-item:target .answer{
    max-height: 20rem;
}
.faq-item:target .faq-link .ion-md-add-circle{
    display: none;
}
.faq-item:target .faq-link .ion-md-remove-circle{
    display: block;
}
.card{
    margin-bottom:1.5rem;
}
.faqbox{
    margin-top: 4rem;
}